.DqBBlb{
    display: none !important;
}
.tMRmsd{
    display: none !important;
}

.Dq4amc{
    display: none !important;
}

.cabecalhoForm{
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: -159px;
    padding: 0px;
    flex-wrap: nowrap;
    justify-content: center;
}