.DqBBlb{
    display: none !important;
}
.tMRmsd{
    display: none !important;
}

.Dq4amc{
    display: none !important;
}

.cabecalhoForm{
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: -159px;
    padding: 0px;
    flex-wrap: nowrap;
    justify-content: center;
}

.whatsTwo{
    height: 140px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 30px;
}

.zeraMargin{
    margin: 0px !important;
    padding: 0px !important;
}

@media only screen and (max-width: 991px) {

    .column-title{
        margin-top: 0px;
    }

    .cabecalhoForm{
        height: 300px;
        margin-bottom: -240px;
    }
}