.margemAbaixo{
    margin-bottom: 70px;
}

.into-sub-title-ajust{
    text-align: end;
}

.slick-track{
    height: 25.75rem;
}

.ts-features-ajust{
    padding-top: 0px;
}

.ajust-texto-valores{
    text-align: end;
}