.margemAbaixo{
    margin-bottom: 70px;
}

.into-sub-title-ajust{
    text-align: end;
}

.slick-track{
    height: 25.75rem;
}

.ts-features-ajust{
    padding-top: 0px;
}

.ajust-texto-valores{
    text-align: end;
}

.titleNossosNumeros{
    margin-bottom: -80px;
}

.ts-team-wrapper:hover .ts-team-content{
    top: 76% !important;
    padding-top: 0px !important;
    transition: 9999999999999999ms;
    
}

.ts-team-content{
    text-align: center !important;
}

@media only screen and (max-width: 991px) {

    .column-title{
        margin-top: 0px;
    }
}